[submodule "ls_colors"]
	path = ls_colors
	url = https://github.com/trapd00r/LS_COLORS.git
[submodule "zsh_syntax_highlighting"]
	path = zsh_syntax_highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
